<ion-header>
  <ion-toolbar>
    <ion-title>Add Patient</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class = "flex">

  <!-- input -->
  <ion-item>
   <ion-label class = "label">First Name:</ion-label>
   <ion-input
   class = "input-values"
   ></ion-input>
 </ion-item>

 <ion-item>
   <ion-label class = "label">Last Name:</ion-label>
   <ion-input
   class = "input-values"
   ></ion-input>
 </ion-item>

 <ion-item>
  <ion-label class = "label">D.O.B:</ion-label>
  <ion-input
  class = "input-values"
    type="Date"
  ></ion-input>
</ion-item>

<ion-item>
  <ion-label class = "label">Department: </ion-label>
  <ion-input
  class = "input-values"
  ></ion-input>
</ion-item>

<ion-item>
  <ion-label class = "label">Doctor: </ion-label>
  <ion-input
  class = "input-values"
  ></ion-input>
</ion-item>

<ion-item>
  <ion-label class = "label">Contact Number: </ion-label>
  <ion-input
  class = "input-values"
  ></ion-input>
</ion-item>

<ion-item>
  <ion-label class = "label">Address</ion-label>
  <ion-input
  class = "input-values"
  ></ion-input>
</ion-item>


  
 <ion-button routerLink="/view-patient"  class = "btn-filled" expand="block">Add Patient</ion-button>

</ion-content>

