<ion-header>
  <ion-toolbar>
    <ion-title>Add Patient Record</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class = "flex">

  <!-- input -->
  <ion-item>
   <ion-label class = "label">Patient Name:</ion-label>
   <ion-input
   class = "input-values"
   ></ion-input>
 </ion-item>

 <ion-item>
   <ion-label class = "label">Patient id: </ion-label>
   <ion-input
   class = "input-values"
   ></ion-input>
 </ion-item>

 <ion-item>
  <ion-label class = "label">Date: </ion-label>
  <ion-input
  class = "input-values"
    type="Date"
  ></ion-input>
</ion-item>

<ion-item>
  <ion-label class = "label">Nurse Name: </ion-label>
  <ion-input
  class = "input-values"
  ></ion-input>
</ion-item>

<ion-item>
  <ion-label class = "label">Type: </ion-label>
  <ion-input
  class = "input-values"
  ></ion-input>
</ion-item>

<ion-item>
  <ion-label class = "label">Blood Pressure: </ion-label>
  <ion-input
  class = "input-values"
  ></ion-input>
</ion-item>

<ion-item>
  <ion-label class = "label">Respiratory Rate: </ion-label>
  <ion-input
  class = "input-values"
  ></ion-input>
</ion-item>

<ion-item>
  <ion-label class = "label">Blood Oxygen Level: </ion-label>
  <ion-input
  class = "input-values"
  ></ion-input>
</ion-item>

<ion-item>
  <ion-label class = "label">Heart Beat Rate : </ion-label>
  <ion-input
  class = "input-values"
  ></ion-input>
</ion-item>
  
 <ion-button routerLink="/home"  class = "btn-filled" expand="block">Add Record</ion-button>

</ion-content>
